<style>
  .contractor-form {
    background-color: lightgray;
    width: 380px;
    padding: 20px;
    margin-left: 10px;
    position: relative;
  }

  .contractor-form input[type="submit"] {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }

  label[for=id_ico]{
    text-transform: uppercase;
  }

  .errorlist li{
    color: red;
  }
</style>
<form action="/contractor/" method="POST" class="contractor-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
